flow.json
[{"id":"5549a327.dd5cbc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70548259.7a61cc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cb827dd3.ba20c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"99727e0.48c418","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"dff7aded.4b234"}]}],"out":[{"x":820,"y":80,"wires":[{"id":"92dfc75b.8e7608","port":0}]}]},{"id":"8541dac5.372858","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"cora","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"788ac03b.d70a2","type":"ui_tab","z":"","name":"BBQ","icon":"dashboard"},{"id":"9e9e1473.30f238","type":"ui_group","z":"","name":"Measure my Meat","tab":"788ac03b.d70a2","disp":true,"width":"24","collapse":false},{"id":"c4c12d2d.304b1","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"acedbb3f.dc35c8","type":"ui_group","z":"","name":"Gauge","tab":"aced8f3b.d28f7","order":2,"disp":true,"width":"6"},{"id":"aced8f3b.d28f7","type":"ui_tab","z":"","name":"Restore","icon":"dashboard"},{"id":"6342b339.e3ba1c","type":"mqtt in","z":"5549a327.dd5cbc","name":"","topic":"ibbq/temperatures","qos":"2","broker":"8541dac5.372858","x":150,"y":120,"wires":[["82ecea08.175b98"]]},{"id":"5a51cb3a.56d694","type":"function","z":"5549a327.dd5cbc","name":"Split Payload","func":"var t1 = msg.payload.Temperatures[0];\nvar t2 = msg.payload.Temperatures[1];\n\n\nout1 = {topic:\"t1\", payload:t1};\nout2 = {topic:\"t2\", payload:t2};\nreturn [out1,out2];","outputs":2,"noerr":0,"x":490,"y":120,"wires":[["e055fd74.d6391"],["410be9cc.37e1f8"]]},{"id":"ab6e4882.941188","type":"ui_chart","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":"24","height":"6","label":"1 hr","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":300,"wires":[[],[]]},{"id":"82ecea08.175b98","type":"json","z":"5549a327.dd5cbc","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":120,"wires":[["5a51cb3a.56d694"]]},{"id":"b11f852.72ab678","type":"inject","z":"5549a327.dd5cbc","name":"","topic":"","payload":"[]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["4d9cf363.1a009c"]]},{"id":"4d9cf363.1a009c","type":"function","z":"5549a327.dd5cbc","name":"Clear Chart","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["ab6e4882.941188","babfeac8.288428"]]},{"id":"babfeac8.288428","type":"ui_chart","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":"24","height":"6","label":"5 hr","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"30000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":340,"wires":[["c791a120.15d8a"],[]]},{"id":"e055fd74.d6391","type":"rbe","z":"5549a327.dd5cbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":160,"wires":[["babfeac8.288428","ab6e4882.941188","41798253.d2cebc","5a13d128.822a9"]]},{"id":"410be9cc.37e1f8","type":"rbe","z":"5549a327.dd5cbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":200,"wires":[["babfeac8.288428","ab6e4882.941188","41798253.d2cebc","71a3e898.457098","bb50dc57.3273"]]},{"id":"90a5431b.8ac5b","type":"file","z":"99727e0.48c418","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":40,"wires":[[]]},{"id":"84f28164.b3938","type":"file in","z":"99727e0.48c418","name":"","filename":"","format":"utf8","sendError":true,"x":530,"y":80,"wires":[["92dfc75b.8e7608"]]},{"id":"bbbdf360.18b86","type":"json","z":"99727e0.48c418","name":"","x":530,"y":40,"wires":[["90a5431b.8ac5b"]]},{"id":"92dfc75b.8e7608","type":"json","z":"99727e0.48c418","name":"","x":690,"y":80,"wires":[[]]},{"id":"dff7aded.4b234","type":"function","z":"99727e0.48c418","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n    var loaded=context.get(strSafe)||0;\n    msg.filename =\"/home/pi/charts/\"+strSafe+\".dat\";\n    //node.warn(loaded);\n    if(0===loaded)\n    {\n        //load chart!! \n        msg.payload=\"load\";\n        context.set(strSafe,1);\n        \n        //node.warn(\"Loading \" +strSafe);\n    }\n    else\n    {\n        //node.warn(\"Writing \" +strSafe);\n    }\n    return msg;    \n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["e9d11b4a.08dd98"]]},{"id":"e9d11b4a.08dd98","type":"switch","z":"99727e0.48c418","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"load","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":60,"wires":[["bbbdf360.18b86"],["84f28164.b3938"]]},{"id":"c791a120.15d8a","type":"file","z":"5549a327.dd5cbc","name":"5hrchart","filename":"5hrchart","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1280,"y":340,"wires":[["6472aa6c.f9a6f4"]]},{"id":"a3c3009d.a5846","type":"ui_button","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":0,"height":0,"passthru":true,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"str","topic":"","x":1130,"y":420,"wires":[["c791a120.15d8a"]]},{"id":"de74362a.682948","type":"inject","z":"5549a327.dd5cbc","name":"Clear","topic":"","payload":"[]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":420,"wires":[["a3c3009d.a5846"]]},{"id":"6472aa6c.f9a6f4","type":"debug","z":"5549a327.dd5cbc","name":"Chart Persist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1510,"y":340,"wires":[]},{"id":"951bad95.11158","type":"ui_button","z":"5549a327.dd5cbc","name":"","group":"acedbb3f.dc35c8","order":4,"width":"2","height":"1","label":"restore","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":600,"wires":[["5f236736.30cab8"]]},{"id":"41798253.d2cebc","type":"ui_chart","z":"5549a327.dd5cbc","name":"","group":"acedbb3f.dc35c8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"x":810,"y":600,"wires":[["3fb7c3c8.d3bb5c"],[]]},{"id":"849d70a2.79cd1","type":"file","z":"5549a327.dd5cbc","name":"","filename":"/tmp/chart.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1520,"y":620,"wires":[[]]},{"id":"5f236736.30cab8","type":"file in","z":"5549a327.dd5cbc","name":"","filename":"5hrchart","format":"utf8","sendError":true,"x":480,"y":600,"wires":[["4720cc50.219114"]]},{"id":"3fb7c3c8.d3bb5c","type":"json","z":"5549a327.dd5cbc","name":"","x":950,"y":600,"wires":[["46553c7e.3dca04"]]},{"id":"4720cc50.219114","type":"json","z":"5549a327.dd5cbc","name":"","x":650,"y":600,"wires":[["41798253.d2cebc"]]},{"id":"46553c7e.3dca04","type":"function","z":"5549a327.dd5cbc","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    return msg;\n}\nelse {\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":1250,"y":620,"wires":[["849d70a2.79cd1"]]},{"id":"11a62622.96074a","type":"ui_button","z":"5549a327.dd5cbc","name":"","group":"acedbb3f.dc35c8","order":3,"width":"2","height":"1","label":"save","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":1070,"y":620,"wires":[["46553c7e.3dca04"]]},{"id":"ffd83bf5.b0f628","type":"debug","z":"70548259.7a61cc","name":"time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":280,"wires":[]},{"id":"8a2e7b87.4a6818","type":"http request","z":"70548259.7a61cc","name":"get time","method":"GET","ret":"txt","url":"https://www.thiswebsitewillselfdestruct.com","tls":"","x":520,"y":280,"wires":[["af0a8a87.8a3ca8","ffd83bf5.b0f628"]]},{"id":"af0a8a87.8a3ca8","type":"html","z":"70548259.7a61cc","name":"pull number","property":"payload","outproperty":"payload","tag":"document.querySelector(\"#header h3\").innerText","ret":"html","as":"single","x":730,"y":380,"wires":[["ffd83bf5.b0f628"]]},{"id":"f2c704fe.fb5868","type":"inject","z":"70548259.7a61cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":280,"wires":[["8a2e7b87.4a6818"]]},{"id":"5a13d128.822a9","type":"ui_gauge","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":"4","height":"4","gtype":"gage","title":"T1","label":"C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":40,"wires":[]},{"id":"71a3e898.457098","type":"ui_gauge","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":"4","height":"4","gtype":"gage","title":"T2","label":"C","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":80,"wires":[]},{"id":"95e412cc.312fe","type":"ui_audio","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","voice":"en-AU","always":"","x":1600,"y":80,"wires":[]},{"id":"bb50dc57.3273","type":"function","z":"5549a327.dd5cbc","name":"","func":"if (msg.payload == 95){\n    msg.payload = \"The meat is ready. The meat is ready.\";\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":80,"wires":[["95e412cc.312fe"]]},{"id":"5e97452d.dc625c","type":"ui_text_input","z":"5549a327.dd5cbc","name":"","label":"Notes","group":"9e9e1473.30f238","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":170,"y":860,"wires":[["818e840b.fb1138"]]},{"id":"30ad4d18.c96362","type":"file","z":"5549a327.dd5cbc","name":"","filename":"bbqnotes","appendNewline":true,"createDir":false,"overwriteFile":"false","x":760,"y":860,"wires":[["8312cfa3.fa823"]]},{"id":"de2d5395.c6e0b","type":"function","z":"5549a327.dd5cbc","name":"Format Note","func":"var time = msg.time;\nvar note = msg.payload;\n\n\nmsg.filename = \"BBQ Notes\";\nmsg.payload = time + \" \" + note;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":860,"wires":[["30ad4d18.c96362"]]},{"id":"818e840b.fb1138","type":"change","z":"5549a327.dd5cbc","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":860,"wires":[["de2d5395.c6e0b"]]},{"id":"8312cfa3.fa823","type":"debug","z":"5549a327.dd5cbc","name":"notes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":860,"wires":[]}]