flow.json
[{"id":"5549a327.dd5cbc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70548259.7a61cc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8541dac5.372858","type":"mqtt-broker","z":"","name":"","broker":"lola.local","port":"1883","clientid":"cora","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"788ac03b.d70a2","type":"ui_tab","z":"","name":"BBQ","icon":"dashboard"},{"id":"9e9e1473.30f238","type":"ui_group","z":"","name":"Measure my Meat","tab":"788ac03b.d70a2","disp":true,"width":"24","collapse":false},{"id":"c4c12d2d.304b1","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6342b339.e3ba1c","type":"mqtt in","z":"5549a327.dd5cbc","name":"","topic":"ibbq/temperatures","qos":"2","broker":"8541dac5.372858","x":230,"y":220,"wires":[["82ecea08.175b98"]]},{"id":"5a51cb3a.56d694","type":"function","z":"5549a327.dd5cbc","name":"Split Payload","func":"var t1 = msg.payload.Temperatures[0];\nvar t2 = msg.payload.Temperatures[1];\n\n\nout1 = {topic:\"t1\", payload:t1};\nout2 = {topic:\"t2\", payload:t2};\nreturn [out1,out2];","outputs":2,"noerr":0,"x":530,"y":100,"wires":[["e055fd74.d6391"],["410be9cc.37e1f8"]]},{"id":"9715565d.0c9e48","type":"split","z":"70548259.7a61cc","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":360,"wires":[["34ce818e.4dd0ee","1bf71c15.80ea34"]]},{"id":"d74ae5f2.360788","type":"inject","z":"70548259.7a61cc","name":"","topic":"","payload":"15.4,50,23.8,79","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":240,"y":360,"wires":[["dc35611c.9c90b","9715565d.0c9e48"]]},{"id":"254552cb.103d9e","type":"debug","z":"70548259.7a61cc","name":"out 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":300,"wires":[]},{"id":"34ce818e.4dd0ee","type":"change","z":"70548259.7a61cc","name":"to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["410e26a1.caec28","4147150d.c8d0ac"]]},{"id":"410e26a1.caec28","type":"switch","z":"70548259.7a61cc","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":360,"wires":[["254552cb.103d9e"],["2ba51cbd.9f5da4"],["72e58031.2a396"],["5dc04209.a4242c"]]},{"id":"2ba51cbd.9f5da4","type":"debug","z":"70548259.7a61cc","name":"out 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":340,"wires":[]},{"id":"72e58031.2a396","type":"debug","z":"70548259.7a61cc","name":"out 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":380,"wires":[]},{"id":"5dc04209.a4242c","type":"debug","z":"70548259.7a61cc","name":"out 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":420,"wires":[]},{"id":"f4b28fb7.3a018","type":"comment","z":"70548259.7a61cc","name":"split","info":"Split comma separated string into separated messages.\nValue placed to msg.payload\nValue type will be still string.\n\nThere will be 4 messages out of this split node\n\nFor each msg also given a property \"parts\". \nIt will be used later on.","x":430,"y":300,"wires":[]},{"id":"9f852e6e.4fe97","type":"comment","z":"70548259.7a61cc","name":"convert","info":"Convert the value of msg.payload to the number using JSONata expression.\n","x":610,"y":300,"wires":[]},{"id":"cd8c054d.a99648","type":"comment","z":"70548259.7a61cc","name":"route","info":"Route every message to differet output by using switch node.\nAs property \"parts\" has been given to each message, we can use its \n\"index\" property to find out proper output\n\n","x":770,"y":300,"wires":[]},{"id":"dc35611c.9c90b","type":"debug","z":"70548259.7a61cc","name":"source data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":520,"wires":[]},{"id":"1bf71c15.80ea34","type":"debug","z":"70548259.7a61cc","name":"spltted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":480,"wires":[]},{"id":"4147150d.c8d0ac","type":"debug","z":"70548259.7a61cc","name":"converted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":440,"wires":[]},{"id":"ab6e4882.941188","type":"ui_chart","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":"24","height":"6","label":"1 hr","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":100,"wires":[["fec5f96d.9d47d8"],[]]},{"id":"82ecea08.175b98","type":"json","z":"5549a327.dd5cbc","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":220,"wires":[["5a51cb3a.56d694"]]},{"id":"b11f852.72ab678","type":"inject","z":"5549a327.dd5cbc","name":"","topic":"","payload":"[]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":300,"wires":[["4d9cf363.1a009c"]]},{"id":"4d9cf363.1a009c","type":"function","z":"5549a327.dd5cbc","name":"Clear Chart","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["ab6e4882.941188","babfeac8.288428"]]},{"id":"fec5f96d.9d47d8","type":"debug","z":"5549a327.dd5cbc","name":"1 hr Chart Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1000,"y":260,"wires":[]},{"id":"babfeac8.288428","type":"ui_chart","z":"5549a327.dd5cbc","name":"","group":"9e9e1473.30f238","order":0,"width":"24","height":"6","label":"5 hr","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"30000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":380,"wires":[["b2e2b7c7.3951b8"],[]]},{"id":"b2e2b7c7.3951b8","type":"debug","z":"5549a327.dd5cbc","name":"5 hr Chart Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1000,"y":320,"wires":[]},{"id":"e055fd74.d6391","type":"rbe","z":"5549a327.dd5cbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":650,"y":220,"wires":[["babfeac8.288428","ab6e4882.941188"]]},{"id":"410be9cc.37e1f8","type":"rbe","z":"5549a327.dd5cbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":660,"y":260,"wires":[["babfeac8.288428","ab6e4882.941188"]]}]